header, nav, .post-text-box, .profile, .informatica, footer {
    padding: 20px;
    text-align: center;
}

header {
    background-color: #83056e;
    color: aliceblue;
}

nav {
    background-color: #e7d741;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-text-box, .profile, .informatica {
    flex: 1;
    max-width: 400px;
}

.profile img, .informatica img {
    max-width: 100%;
}

footer {
    margin-top: 20px;
}

nav a {
    color: #610885a9;
    text-decoration: none;
    font-size: larger;
}
