/* Estilo do cabeçalho */
header {
    text-align: center;
    color: aliceblue;
    padding: 20px;
    background-color: #83056e;
}

/* Estilo do menu de navegação */
nav {
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    background-color: #e7d741;
}

/* Criando o layout de duas colunas */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Ajuste para espaçamento */
}

.post-text-box {
    flex: 70%;
    padding: 20px;
    background-color: #e9e0e9;
}

.profile, .informatica {
    flex: 30%;
    padding: 20px;
}

.profile img, .informatica img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 10px auto; /* Centraliza a imagem */
    padding: 10px;
}

.profile h1, .informatica h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.profile p, .informatica p {
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
    max-width: 300px;
    margin: 10px auto;
}

/* Estilo do footer */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px; /* Ajuste conforme desejado */
}

/* Estilo do botão da barra de navegação */
nav a {
    color: #610885a9;
    text-decoration: none;
    font-size: larger;
}
