/* Estilo do cabeçalho */
header {
   text-align: center;
   color: aliceblue;
   padding: 20px;
   background-color: #83056e;
}

/* Estilo do menu de navegação */
nav {
   text-align: center;
   word-spacing: 30px;
   padding: 10px; /* Corrigido 'Padding' para 'padding' */
   background-color: #e7d741;
}

/* Criando o layout de duas colunas */
* {
   box-sizing: border-box;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px; /* Ajuste para espaçamento entre colunas */
}

.post-text-box {
   flex: 70%;
   padding: 20px;
   background-color: #e9e0e9;
   margin: 10px; /* Adicionado para espaçamento */
}

.profile, .informatica {
   flex: 30%;
   padding: 20px;
   margin: 10px; /* Adicionado para espaçamento */
   display: flex;
   flex-direction: column;
   justify-content: flex-start; /* Alinha os itens ao topo */
}

.profile .profile-content, .informatica .informatica-content {
   order: -1; /* Definindo a ordem dos textos para aparecerem primeiro */
}

.profile .profile-img, .informatica .informatica-img {
   order: 0; /* Definindo a ordem das imagens para aparecerem depois */
}

.profile img {
   width: 100%; /* Largura ocupando 100% do contêiner pai */
   max-width: 500px; /* Largura máxima da imagem da garra robótica */
   height: auto; /* Mantendo a proporção da imagem */
   margin-left: 300px;
}

.informatica img {
   width: 100%; /* Largura ocupando 100% do contêiner pai */
   max-width: 400px; /* Largura máxima da imagem de informática e robótica */
   height: auto; /* Mantendo a proporção da imagem */
   margin-left: 350px;
   position: relative;
   top: -480px;
}

.profile h2, .informatica h2 {
   font-size: 24px;
   color: #83056e;
   background-color: #e7d741;
}

.profile p {
   font-size: 20px;
   text-align: left;
   word-wrap: break-word;
   color: #333;
   background-color: #fdf9fd;
   line-height: 1.5;
   margin-bottom: 20px;
   max-width: 500px;
}
.informatica p{
   font-size: 20px;
   text-align: left;
   word-wrap: break-word;
   color: #333;
   background-color: #fdf9fd;
   line-height: 1.5;
   margin-bottom: 20px;
   max-width: 300px;
}
/* Estilo do footer */
footer {
   text-align: center;
   padding: 20px;
   margin-top: -200px; /* Ajuste conforme desejado */
}
.cart-menu {
   background-color: #f4f4f4;
   padding: 20px;
   border: 1px solid #ccc;
   max-width: 800px;
}

.cart-menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.cart-menu ul li {
   margin-bottom: 10px;
}

.cart-menu ul li a {
   text-decoration: none;
   color: #333;
   font-size: 16px;
}

.cart-menu button {
   background-color: #83056e;
   color: #fff;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   display: block;
   margin-top: 20px;
}
